<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
</head>
<body>
    <header id="main-header">
        <div class="container">
          <div class="logo">
            <img src="sec schook.jpg" width="50px" alt="" />
          </div>
          <h1>SEC ACADEMY SCHOOL</h1>
        </div>
      </header>
  
      <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="contact.html">Contacts</a></li>
            <li><a href="./Courses.html">Courses</a></li>
            <li><a href="./calender-page.html">Calendar Page</a></li>
          </ul>
        </div>
      </nav>
      <div class="sculp">
      <h1><img src="tite-logo.png" alt="">PROGRAMS</h1>
      </div>

    <div class="apply">
        <h2>
            Undergraduate
        </h2>
        <P>
            Apply for an undergraduate program at binta state University
        </P>
        <a href="#" class="Read More">Read More</a>
    </div>
    <div class="under">
        <h2>
            Graduate
        </h2>
        <P>
            Apply for an Graduate program at binta state University
        </P>
        <a href="#" class="Read More">Read More</a>
    </div>
    <div class="grad">
        <h2>
            Postgraduate
        </h2>
        <P>
            Apply for an Postgraduate program at binta state University 
        </P>
        <a href="#" class="Read More">Read More</a>
    </div>

    <footer id="main-footer">
        <p>Copyright &copy; 2024; My School website</p>
      </footer>
</body>
</html>