{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT US</title>
    <link rel="stylesheet"type='text/css' href={% static "style/style.css" %}>
</head>
<body>
  
    <div class="contact">
    <h1>Contact Us</h1>
<p>Email call or complete the form to learn how</p>
<p>binto international school can elevate your intelligence </p>
<P>info @bintointernational.io</P>
    </div>

    <div class="block">
        <h2>Customer Support</h2>
        <p>Our support team is available around the clock to address any concerns or queries you may have</p>
    </div>

    <div class="block">
        <h2>Feedback and Suggestions</h2>
        <P>We value your feedback and are continously working to improve this institution, Your input is crucial in shaping the future of the school.</P>
    </div>
     
    <div class="block">
        <h2>Media Inquiries</h2>
        <P>For media-related questions or press inquiries please contsct us at media@bintoschools.com.</P>
    </div>
</body>
</html>