{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programs Page</title>
    <link rel="stylesheet" type="text/css" href={% static "style/style.css" %} />
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <div class="logo">
          <img src={% static "images/sec schook.jpg" %} style="height: 50px" alt="" />
        </div>
        <h1>SEC ACADEMY SCHOOL</h1>
      </div>
    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href={% url "index" %}>Home</a></li>
          <li><a href={% url "contact" %}>Contacts</a></li>
          <li><a href={% url "courses" %}>Courses</a></li>
          <li><a href={% url "school-calendar" %}>Calendar Page</a></li>

          <li><a href={% url "login" %}>Log in</a></li>
          <li><a href={% url "register" %}>Register</a></li>
        </ul>
      </div>
    </nav>
    <div class="course-header">
      <h1>Programs and Departments</h1>
    </div>
    {% if courses is None %}
    <div class="programs-container">
      <p>No Courses Available</p>
      </div>
      {% else %}
      {% for course in courses %}
      <div class="programs-container">
        <div class="program-card">
          <img
            src="https://picsum.photos/350/200"
            alt="Program Image"
            class="program-image"
          />
          <div class="program-header">
            <h3>{{course.name}}</h3>
          </div>
          <div class="program-body">
            <p class="department">Department of {{course.department}}</p>
          </div>
        </div>
        {% endfor %}
      {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
