{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programs Page</title>
    <link rel="stylesheet" type="text/css" href={% static "style/style.css" %} />
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <div class="logo">
          <img src= {% static "images/sec schook.jpg" %} width="22" alt="" />
        </div>
        <h1>SEC academy SCHOOL</h1>
      </div>
    </header>

    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href={% url "index" %}>Home</a></li>
          <li><a href="contact.html">Contacts</a></li>
          <li><a href={% url "courses" %}>Courses</a></li>
          <li><a href={% url "school-calendar" %}>Calendar Page</a></li>
        </ul>
      </div>
    </nav>
    <div class="course-header">
      <h1>Courses and Departments</h1>
    </div>

    
    <div class="programs-container">
      {% for course in courses %}
      <div class="program-card">
        <img
          src="https://picsum.photos/350/200"
          alt="Program Image"
          class="program-image"
        />
        <div class="program-header">
          <h3>{{course.name}}</h3>
        </div>
        <div class="program-body">
          <p class="department">Department of {{course.department.name}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
