{% extends "home.html" %}

{% block section %}
<div class="form-container">
    <form method="post">
    {% csrf_token %}
    <h2> Enroll For the below Course </h2>
    <div class="form-group">
        {% for checkbox in form.courses %}
            <label class="checkbox-button">
            {{checkbox.tag}}
            {{ checkbox.choice_label }}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn-submit">Submit</button>
    </form>
</div>

{% endblock section %}