{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BINTA INTERNATIONAL SCHOOL</title>
    <link rel="stylesheet" type="text/css" href={% static "style/style.css" %}/>
  </head>
  <body>
    <header id="main-header">
      <div class="container">
        <div class="logo">
          <img src={% static "images/sec schook.jpg" %} style="height: 50px;"  alt="" />
        </div>
        <h1>SEC ACADEMY SCHOOL</h1>
      </div>
    </header>
    {% block nav %}
    <nav id="navbar">
      <div class="container">
        <ul>
          <li><a href={% url "index" %}>Home</a></li>
          <li><a href={% url "contact" %}>Contacts</a></li>
          <li><a href={% url "courses" %}>Courses</a></li>
          <li><a href={% url "school-calendar" %}>Calendar Page</a></li>


          <li><a href={% url "login" %}>Log in</a></li>
          <li><a href={% url "register" %}>Register</a></li> 
        </ul>
      </div>
    </nav>
    {% endblock nav %}
    {% block section %}
    <section id="showcase">
      <div class="fade-text">
        <h1>YOU ARE WELCOME.</h1>
      </div>
    </section>

    <div class="container">
      <section id="main">
        <h1>Welcome</h1>
        <p>
          Lorem, ipsumolor sit amet consectetur adipisicing elit. Omnis iste
          exercitationem beatae doloremque harum magni repellendus eos ullam
          vero facere ab eaque quo, hic magnam alias eum reiciendis voluptas
          laudantium
        </p>
      </section>
      <aside id="sidebar">
        <p>
          Lorem- ipsum dolor sit amet consectetur, adipisicing elit. Quidem
          doloribus, aperiam ipsum nisi consequatur maiores ratione voluptas
          alias itaque possimus, consequuntur officia veniam excepturi
          cupiditate nihil. Temporibus blanditiis a hic?
        </p>

     <div class="order">
      <p>
        <h1>8</h1>
        Faculties

        <h1>65</h1>
        Department
      
        <h1>5</h1>
        Centers
      </p>
    </div>
      </aside>
      {% endblock section %}
       
      <footer id="main-footer">
        <p>Copyright &copy; 2024; My School website</p>
      </footer>
  

  </body>
</html>
