{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>introduction</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href={% static "style/style.css" %}>
    <script src='main.js'></script>
</head>
<body> <header id="main-header">
    <div class="container">
      <div class="logo">
        <img src="{% static "images/sec schook.jpg" %}" style="height: 50px;"  alt="" />
      </div>
      <h1>SEC ACADEMY SCHOOL</h1>
    </div>
  </header>

  <nav id="navbar">
    <div class="container">
      <ul>
        <li><a href={% url "index" %}>Home</a></li>
        <li><a href={% url "contact" %}>Contacts</a></li>
        <li><a href={% url "courses" %}>Courses</a></li>
        <li><a href={% url "school-calendar" %}>Calendar Page</a></li>

        <li><a href={% url "login" %}>Log in</a></li>
        <li><a href={% url "register" %}>Register</a></li> 
      </ul>
    </div>
  </nav>

    <style>
        /* Make the body a flex container */
        body {
            justify-content: center; /* Center horizontally */
            align-items: center; /* Center vertically */
            line-height: 1;
        }    
         
        body { 
      background-color: black;     
    }
        
    </style>

    <form class="giraffe" method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <h2>LOGIN</h2>
    <div class="landing">
         <label>Email </label>
         <input type="email" name="username">
    </div>
    <div class="landing">
        <label> password</label>
        <input type="password" name="password">
    </div>
      
     <input class="button" type="button" value="Register" onclick="window.location.href='{% url "register" %}';">
     <button type="submit">Login</button>
     <a href="/forgot-password">Forgot Password?</a>
    </form>
  
</body>
</html>