{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href={% static "style/style.css" %}>
    <link rel="stylesheet" href={% static "style/register.css" %}>
</head>
<script>
        function togglePassword() {
            const password = document.getElementById("id_password1");
            const confirmPassword = document.getElementById("id_password2");
            const checkbox = document.getElementById("show-password");
            
            if (checkbox.checked) {
                password.type = "text";
                confirmPassword.type = "text";
            } else {
                password.type = "password";
                confirmPassword.type = "password";
            }
        }
    </script>

    {% if messages %}
        {% for message in messages  %}
        <script>
            alert("{{message}}")
        </script>
        {% endfor %}
    {% endif %}
    
  <body>
    <header id="main-header">
        <div class="container">
            <div class="logo">
                <img src={% static "images/sec schook.jpg" %} style="height: 50px;"  alt="" />
              </div>
          <h1>SEC ACADEMY SCHOOL</h1>
        </div>
      </header>
    
      <nav id="navbar">
        <div class="container">
          <ul>
            <li><a href={% url "index" %}>Home</a></li>
            <li><a href={% url "contact" %}>Contacts</a></li>
            <li><a href={% url "courses" %}>Courses</a></li>
            <li><a href={% url "school-calendar" %}>Calendar Page</a></li>
            <li><a href={% url "login" %}>Login</a></li>
            {% comment %} <li><a href={% url "register" %}>Register</a></li>  {% endcomment %}
          </ul>
        </div>
      </nav>
      <div class="registration-header">
        <h1>Student Registration Form</h1>
      </div>

        <div class="form-div">
          <form id="registration-form" method="post" action={% url "register" %}>
            {% csrf_token %}
            <div class="register-container">
              <label>First Name</label>
              {{ form.first_name }}
            </div>
            <div class="register-container">
              <label>Middle Name</label>
              {{ form.middle_name }}
            </div>
            <div class="register-container">
              <label>Last Name</label>
              {{ form.last_name }}
            </div>
            <div class="register-container">
                <label>E-mail:</label>
                {{ form.email }}
            </div>
            <div class="register-container">
                <label>Phone number:</label>
                {{ form.phone_number }}
            </div>
            <div class="register-container">
                <label>Address:</label>
                {{ form.address }}
            </div>
            <div class="register-container">
                <label>D.O.B:</label>
                {{ form.date_of_birth }}
            </div>
            <div class="register-container">
                <label for="Gender">Select your Gender:</label><br>
                {{ form.gender }}
                </br>
            </div>
            <div class="register-container">
                <label>Password</label>
                {{ form.password1 }}
                 <input type="checkbox" id="show-password" onclick="togglePassword()">
                <label>Show Password</label>
            </div>
            <div class="register-container">
                <label>Confirm Password</label>
                {{ form.password2 }}
              </div>
                <br />
            <button class="button" type="submit">Submit</button>
          <form>
        </div>


  <footer id="main-footer">
      <p>Copyright &copy; 2024; My School website</p>
    </footer>
  </body>
</html>